/* Mobile / Small Screens */
@media screen and (max-device-width: 600px) {
    .cbi-section-table td[data-name="Action"] {
        flex-basis: 100% !important;
    }

    /* Mobile Actions Widget behavior */
    [data-widget="CBI.ContainerMobileActionsValue"] .list-toolbar {
        display: flex;
    }

    [data-widget="CBI.ContainerMobileActionsValue"] .list-toolbar .cbi-button {
        width: 50%;
    }
}
