.container-status {
    font-size: 0.875rem;
    vertical-align: middle;
}

.section-container-info {
    margin-bottom: 1.25rem;
}

.edit-container-name {
    width: 60%;
    margin-right: 5px;
}

.table-list > tr > td:first-of-type {
    width: 33%;
    font-weight: bold;
}

.table-env-vars th {
    width: 50%;
}

.table-env-vars td {
    font-family: monospace;
    word-break: break-all;
}

.table-env-vars td:nth-of-type(2) {
    cursor: pointer;
    user-select: none;
}

.tt {
    border-bottom: 1px dotted;
    cursor: help;
}

.code-area, .terminal-area {
    padding: 1rem;
    overflow: auto;
    max-height: 600px;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-family: monospace;
    font-weight: 100;
    /* white-space: pre; */
    line-height: 1.25;
}

.code-area {
    background: #f5f5f5;
    border: 1px solid #ddd;
}

.terminal-area {
    background: #000;
    color: #0f0;
}

.modal .terminal-area {
    max-width: 800px;
}

.modal .modal-buttons {
    margin-top: 1rem;
}

.loading-gray {
    color: #999;
}

@media (min-width: 600px) {
  .hide-not-mobile {
    display: none !important;
  }
}
