name: Build OpenWRT package (release)

on:
  push:
    tags:
      - "v*"

jobs:
  build-packages:
    strategy:
      matrix:
        include:
          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.3'
            arch: 'x86_64'
      fail-fast: false

    uses: Zerogiven/gh-openwrt-package-build-workflows/.github/workflows/reusable-build.yml@main
    with:
      package_name: 'luci-app-podman'
      sdk_packages: 'luci-app-podman'
      artifacts_patterns: |
        luci-app-podman*.ipk
        luci-i18n-podman-*.ipk
      openwrt_version: ${{ matrix.openwrt_version }}
      openwrt_build_version: ${{ matrix.openwrt_build_version }}
      arch: ${{ matrix.arch }}
      verbose: false

  create-release:
    needs: build-packages
    uses: Zerogiven/gh-openwrt-package-build-workflows/.github/workflows/reusable-release.yml@main
    with:
      artifact_pattern: 'luci-app-podman-*'
      release_file_pattern: '*.ipk'
      tag_name: ${{ github.ref_name }}
    secrets:
      RELEASE_TOKEN: ${{ secrets.OWRT_PACKAGE_RELEASE_TOKEN }}
